.CommentView{
    max-height: 6rem;
    background-color:var(--cardColor);
    border-radius: 5px;
    overflow-y: scroll;
    min-height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.commentList{
    position: static;
    list-style-type: none;
    margin: 0.8rem;
    font-size: 14px;
}

.nameSection{
    display: flex;
    
}

.nameSection>img{
    width: 1.6rem;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 3px;
}
.commentDelete{
    margin:auto;
    margin-left:0;
}